@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#autopager-button {
  list-style-image: url("chrome://autopager/skin/autopager.png");
}

toolbar[iconsize="small"] #autopager-button {
  list-style-image: url("chrome://autopager/skin/autopager-small.png");
}
/* 
 * Allow sidebar to be closed completely using the slider
 */
#sidebar-box {
    overflow-x: hidden !important;
}
#sidebar {
    min-width: 0px !important;
    max-width: none !important;
    overflow-x: hidden !important;
}
