@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#autopager-button {
  list-style-image: url("chrome://autopager/skin/autopager.gif");
}
#autopager-button.ap-disabled{
  list-style-image: url("chrome://autopager/skin/autopager.off.gif");
}
#autopager-button.ap-site-disabled{
  list-style-image: url("chrome://autopager/skin/autopager-site.off.gif");
}

toolbar[iconsize="small"] #autopager-button {
  list-style-image: url("chrome://autopager/skin/autopager-small.on.gif");
}
toolbar[iconsize="small"] #autopager-button.ap-disabled {
  list-style-image: url("chrome://autopager/skin/autopager-small.off.gif");
}
toolbar[iconsize="small"] #autopager-button.ap-site-disabled {
  list-style-image: url("chrome://autopager/skin/autopager-small-site.off.gif");
}
#autopager-button-fennec {
  list-style-image: url("chrome://autopager/skin/autopager64.png");
}
#autopager-button-fennec.ap-disabled{
  list-style-image: url("chrome://autopager/skin/autopager.off.gif");
}
#autopager-button-fennec.ap-site-disabled{
  list-style-image: url("chrome://autopager/skin/autopager-site.off.gif");
}

toolbar[iconsize="small"] #autopager-button-fennec {
  list-style-image: url("chrome://autopager/skin/autopager32.ico");
}
toolbar[iconsize="small"] #autopager-button-fennec.ap-disabled {
  list-style-image: url("chrome://autopager/skin/autopager-small.off.gif");
}
toolbar[iconsize="small"] #autopager-button-fennec.ap-site-disabled {
  list-style-image: url("chrome://autopager/skin/autopager-small-site.off.gif");
}

#autopager-button-fennec.autopager-fennec {
  -moz-border-radius: 8px;
  border: 2px solid #444;
  -moz-border-bottom-colors: #aaa #888;
  -moz-border-top-colors: #666 #444;
  -moz-border-left-colors: #aaa #888;
  -moz-border-right-colors: #aaa #888;
  padding-left: 4px;
  margin: 0px;
  width: 40px;
  height: 40px;
  background-color: #eee;
  -moz-user-focus: ignore;
}

#autopager-immedialate-load-button {
  list-style-image: url("chrome://autopager/skin/play.ico") !important;
}
